* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh; /* Change to min-height for smaller screens */
  color: #000;
  background-color: #fafafa;
  font-family: monospace;
}

#header {
  background-color: #222831;
  border-bottom: 2px solid #416d19;
  padding: 10px; /* Add some padding for better spacing */
}

#section {
  background-color: #fafafa;
  padding: 10px; /* Add padding around the IDE sections */
}

button {
  width: auto;
  height: auto;
  font-size: 14px; /* Adjust font size for smaller screens */
}

.logos {
  cursor: pointer;
}

#ulThemes {
  display: none;
}

.dropdown-menu {
  position: absolute;
  display: block;
  top: 100%; /* Ensure dropdowns appear below their buttons */
  left: 0; /* Ensure dropdowns are aligned with their buttons */
}

@media (max-width: 800px) {
  button {
    width: 100%; /* Make buttons full width on smaller screens */
    margin-bottom: 5px; /* Add some space between buttons */
  }
  #btnRun{
    height: 14vh;
    border-radius: 40px;
  }
  .btn {
    font-size: 12px; /* Decrease button font size */
  }
  #tt {
    font-size: 22px; /* Increase title font size */
    font-weight: bold;
  }
  #section {
    flex-direction: column;
  }
}
@media (max-width: 530px) {
  #tt{
    display: none;
  }
}